/* PRIMARY UPPERCASE DISPLAY HEADLINE, TITLES + NUMBERS = TITILLIUM WEB REGULAR, SEMIBOLD & BOLD = 
PRIMARY INFORMATIONAL + PARAGRAPH = Roboto Light & Regular
ALTERNATE INFORMATIONAL = Titillium Web
MIXED-CASE HEADINGS + TITLES = D-Din Bold
ALTERNATE UPPERCASE HEADINGS, TITLES + LABELS= D-DIN REGULAR & BOLD
LOWERCASE WEB URL = d-din expanded bold */

:root {
    --brand-blue: #51a3d6;
    --brand-gray: #5b5b5b;
    --accent-dark: #0f415c;
    --brand-blue-dark: #4295cc;
    --accent-light: #A4D9F5;
    --background-blue: #EAF7FE;
    --background-gray: #EFEFEF;
}

body {
    font-family: Arial, sans-serif;
    color: var(--brand-gray);
    background-color: var(--background-blue);
}

h5 {
    font-family: TITILLIUM WEB SEMIBOLD, Sans;
    text-transform: uppercase;
}
h6 {
    font-family: D-DIN REGULAR, Sans;
}

.link {
    color: var(--accent-dark)
}


.sectionTitle {
    font-family: TITILLIUM WEB REGULAR , D-DIN REGULAR, ;
}

.sectionTitle {
    font-family: D-DIN REGULAR, ;
}
.expCompanyContainer {
    display: flex;
    flex-flow: row;
}
.expCompanyLogoContainer {
    min-width: 75px;
    min-height: 225px;
    width: 25%;
}
.companyLogoImage {
    max-width: 100px;
    max-height: 50px;
    /* align-self: center; */
    justify-self: center;
    align-self: center;
}
.expSummaryRow {
    display: flex;
    flex-flow: row;
    padding: 5px;
    width: 75%;
}
.expDetail {
    padding: 5px;
}